<div class="collection-card">
  <img class="collection-card__img" 
       src="/assets/{{ collection.image }}" 
       alt="Collection Card">
  <h3 class="collection-card__h3" >{{ collection.title }}</h3>
</div>
