<div class="collection-card">
  <h3 class="collection-card__h3" >{{ collection.title }}</h3>
  <div class="collection-card__img-box">
    <img class="collection-card__img" 
        src="/assets/{{ collection.image }}" 
        alt="Collection Card">
  </div>

</div>
