<section class="hero">
  <div class="hero__banner">
    <img class="hero__img" fetchpriority="high" width="1360" height="600" decoding="async" data-nimg="1" class=" h-full w-full rounded-[5px] object-cover" style="color:transparent" src="/assets/hero_banner_img.avif" alt="Hero-Banner">
    <button class="hero__button"><a href="{{ settings['hero-banner'].settings.button_link }}"><h2>{{ settings['hero-banner'].settings.button_text }}</h2></a></button>
  </div>
</section>